<div class="app-card-container">
  <div class="card">
    <h1 class="headertext">About Daymaker Digital</h1>

    <hr>

    <div class="row">
      <div class="col-md-4">
        <%= image_tag "me.jpg", width: '100%', alt: "profile image" %>
      </div>
      <!-- <div class="col-md-1"></div> -->
      <div class="col-md-8">
        <p>Our mission statement drives our company and keeps us focused on the things that truly matter. Every company means start-ups, industry leaders, or mom-and-pop shops. We believe that the size of your budget shouldn't dictate the quality of your presence.</p>
        <p>Beautiful design tells the story of your brand, boldly and honestly. Our work will always seek to engage an audience and build community. We believe that good design is user-centered design, meaning that we keep real people at the center of everything we do.</p>
        <p>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#jobHistory"
            aria-expanded="false"
            aria-controls="jobhistory"
          >
            Job History
          </button>
          <button
            class="btn btn-primary"
            type="button"
            data-toggle="collapse"
            data-target="#education"
            aria-expanded="false"
            aria-controls="education"
          >
            Education
          </button>
        </p>
        <p>
          <div class="collapse" id="jobHistory">
            <div class="card card-block">
              Jobbbbbbbbbbsssssssssss
            </div>
            <div class="card card-block">
              Jobbbbbbbbbbsssssssssss
            </div>
            <div class="card card-block">
              Jobbbbbbbbbbsssssssssss
            </div>
          </div>
          <div class="collapse" id="education">
            <div class="card card-block">
              College PSU
            </div>
            <div class="card card-block">
              Emergency MGMT
            </div>
            <div class="card card-block">
              TeaLeaf Academy Ruby on Rails
            </div>
          </div>
        </p>
      </div>
    </div>
  </div>
</div>
