<h1>About Daymaker Digital</h1>

<hr>

<div class="row">
  <div class="col-md-4">
    <%= image_tag "me.jpg", width: 300, alt: "profile image" %>
  </div>
  <div class="col-md-8">
    <p>Our mission statement drives our company and keeps us focused on the things that truly matter. Every company means start-ups, industry leaders, or mom-and-pop shops. We believe that the size of your budget shouldn't dictate the quality of your presence.</p>
    <p>Beautiful design tells the story of your brand, boldly and honestly. Our work will always seek to engage an audience and build community. We believe that good design is user-centered design, meaning that we keep real people at the center of everything we do.</p>
  </div>
</div>
